.localizacao {
	height: 500px;
	width: 100%;
	position: relative;
	background-color: #67938d;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -17.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 17.5px 17px 17.5px;
		border-color: transparent transparent #FFF transparent;
		line-height: 0px;
		_border-color: #000000 #000000 #FFF #000000;
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	}
	.map {
		width: 100%;
		height: 500px;
		position: absolute;
		top: 0;
		left: 0;
		iframe {
			width: 100%;
			height: 500px;
		}
	}
	.info {
		position: absolute;
		width: 100%;
		height: 500px;
		background-color: rgba( 70, 126, 121, .8);
		.address-wrap {
			width: 300px;
			height: 394px;
			margin: 43px auto;
			overflow: hidden;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			padding: 10px 0;
			.icon {
				width: 152px;
				height: 152px;
				border: 1px solid #FFF;
				box-sizing: border-box;
				border-radius: 100%;
				margin: 0 auto;
				line-height: 150px;
				text-align: center;
				color: #FFF;
				font-size: 102px;
				box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
				margin-bottom: 11px;
			}
			.title {
				font-size: 36px;
				font-family: 'Ubuntu', sans-serif;
				text-align: center;
				font-weight: 600;
				color: #FFF;
				margin-bottom: 24px;
			}
			.address {
				text-align: center;
				font-size: 24px;
				line-height: 28px;
				color: #FFF;
				font-weight: 100;
				margin-bottom: 35px;
			}
			.btn {
				display: block;
				margin: 0 auto;
				height: 52px;
				width: 160px;
				border-radius: 100px;
				box-sizing: border-box;
				border: 2px solid #FFF;
				background: transparent;
				appearance: none;
				color: #FFF;
				font-size: 24px;
				text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
				box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
				font-family: 'Ubuntu', sans-serif;
				outline: none;
				transition: .2s all linear;
				&:hover {
					background-color: #FFF;
					color: #61bfb6;
					text-shadow: 0 2px 2px rgba(0, 0, 0, 0);
				}
			}
		}
	}
}

.contato {
	overflow: hidden;
	padding: 40px 0;
	hr {
		border: 0;
		border-top: 1px solid #e9e9e9;
		margin: 30px 0;
	}
	h2 {
		color: #61bfb6;
		font-size: 36px;
		line-height: 42px;
		font-weight: 100;
		font-family: 'Ubuntu', sans-serif;
		span {
			font-weight: 500;
		}
	}
	.ligue-agora {
		text-align: center;
		a {
			display: inline-block;
			border-radius: 100px;
			box-sizing: border-box;
			background-color: #61bfb6;
			height: 60px;
			line-height: 60px;
			color: #FFF;
			text-decoration: none;
			font-size: 30px;
			font-weight: 600;
			padding: 0 30px;
			margin-top: 30px;
		}
	}
	.horario-de-atendimento {
		text-align: center;
		font-size: 18px;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		color: #c2c2c2;
		text-transform: uppercase;
		line-height: 22px;
		strong {
			color: #61bfb6;
			display: block;
		}
	}
	.parceiro {
		text-align: center;
		font-size: 18px;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		color: #c2c2c2;
		text-transform: uppercase;
		line-height: 22px;
		a {
			display: block;
			margin: 10px auto;
			outline: none;
		}
	}
	.form-area {
		h2 {
			margin-bottom: 20px;
		}
		.campo {
			width: 100%;
			min-height: 60px;
			margin-bottom: 20px;
			input, textarea, select {
				display: block;
				width: 100%;
				height: 60px;
				box-sizing: border-box;
				border: 2px solid #e9e9e8;
				border-radius: 10px;
				outline: none;
				padding: 0 20px;
				font-size: 24px;
				font-family: 'Ubuntu', sans-serif;
				color: #444;
				box-shadow: none;
				&.is-incorrect {
					border-color: red;
				}
			}
			textarea {
				height: 240px;
				padding-top: 15px;
				resize: none;
			}
			.label {
				float: left;
				display: inline-block;
				height: 60px;
				line-height: 60px;
				color: #c2c2c2;
				font-size: 18px;
			}
			button[type=submit] {
				display: inline-block;
				float: right;
				height: 60px;
				width: 190px;
				background: #61bfb6;
				border: 0;
				border-radius: 10px;
				font-size: 24px;
				color: #FFF;
				font-weight: 600;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.localizacao {
			height: 320px;
		.map {
			height: 320px;
			iframe {
				height: 320px;
			}
		}
		.info {
			height: 320px;
			.address-wrap {
				margin: 10px auto;
				height: 300px;
				box-sizing: border-box;
				.icon {
					width: 56px;
					height: 56px;
					font-size: 36px;
					line-height: 54px;
					margin-bottom: 20px;
				}
				.title {
					font-size: 18px;
					margin-bottom: 20px;
				}
				.address {
					font-size: 18px;
					line-height: 24px;
					margin-bottom: 20px;
				}
			}
		}
	}
}


@media screen and (max-width: 960px) {
	.contato h2 {
		font-size: 32px;
		line-height: 34px;
	}
	.contato .ligue-agora a {
		font-size: 22px;
	}
	.contato .parceiro {
		font-size: 16px;
		img {
			width: 100%;
		}
	}
	.contato hr {
		margin: 20px 0;
	}
	.contato .horario-de-atendimento {
		font-size: 16px;
		line-height: 18px;
	}
}


@media screen and (max-width: 720px) { 
	.contato h2 {
		br {
			display: none;
		}
	}
	.contato .parceiro img {
		width: 125px;
	}
	.form-area {
		padding-bottom: 40px;
		overflow: hidden;
		border-bottom: 1px solid #e9e9e9;
	}
	.ligue-agora {
		padding-top: 40px;
	}
}

@media screen and (max-width: 480px) { 
	.contato h2 {
		text-align: center;
		font-size: 22px;
	}
	.contato .ligue-agora a {
		font-size: 18px;
		height: 42px;
		line-height: 42px;
	}
	.contato .horario-de-atendimento {
		font-size: 14px;
		line-height: 16px;
	}
	.contato .form-area .campo {
		min-height: 50px;
		margin-bottom: 10px;
	}
	.contato .form-area .campo input, .contato .form-area .campo textarea, .contato .form-area .campo select {
		height: 50px;
		font-size: 16px;
	}
	.contato .form-area .campo textarea {
		height: 130px;
	}
	.contato .form-area .campo button[type=submit] {
		width: 100%;
	}
}