.main-slider {
	width: 100%;
	overflow: hidden;
	height: 400px;
	.item {
		width: 100%;
		height: 400px;
		overflow: hidden;
		background-position: top center; 
		background-size: cover;
		background-color: #DEE8E9;
		.description {
			height: 400px;
			width: 480px;
			margin-left: 150px;
			color: #FFF;
			display: table-cell;
			vertical-align: middle;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
			padding-left: 150px;
			&.green {
				color: #61bfb6;
			}
			h2 {
				font-family: 'Ubuntu', sans-serif;
				font-size: 60px;
				font-weight: 400;
				font-style: italic;
			}
			p {
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
				line-height: 22px;
				font-weight: 100;
			}
		}
	}
	.owl-pagination {
		max-width: 1180px;
		width: 100%;
		margin: 0 auto;
		height: 0;
		text-align: center;
		position: relative;
		.owl-page {
			display: inline-block;
			position: relative;
			top: -30px;
			width: 16px;
			height: 16px;
			box-sizing: border-box;
			border-radius: 100%;
			border: 1px solid #FFF;
			margin: 0 7px;
			opacity: .5;
			&.active {
				background: #FFF;
			}
		}
	}
	.owl-buttons {
		max-width: 1180px;
		width: 100%;
		margin: 0 auto;
		height: 0;
		position: relative;
		div {
			width: 62px;
			height: 62px;
			border-radius: 100%;
			background: transparent;
  			display: block;
			position: absolute;
  			top: -200px;
  			margin-top: -31px;
  			box-sizing: border-box;
  			border: 2px solid #FFF;
  			overflow: hidden;
  			text-align: center;
  			color: #FFF;
  			line-height: 60px;
  			font-size: 48px;
  			transition: .1s all linear;
  			&.owl-next {
  				right: 10px;
	  			&:after {
	  				font-family: 'FontAwesome';
	  				content: "\f105";
	  				margin-left: 5px;
	  			}  				
  			}
  			&.owl-prev {
  				left: 10px;
	  			&:after {
	  				font-family: 'FontAwesome';
	  				content: "\f104";
	  				margin-left: -5px;	  				
	  			}  				
  			} 
  			&:hover {
  				background-color: #61bfb6;
  				border-color: #61bfb6;
  			}		
		}	
	}
}


.main-content.home {
	.card {
		overflow: hidden;
		position: relative;
		background-color: #444;
		margin-bottom: 20px;
		width: 100%;
		display: block;
		text-decoration: none;
		color: inherit;
		border: 0;
		outline: none;
		&.card-1 { height: 300px; }
		&.card-2 { height: 520px; }
		&.card-3 { height: 200px; margin-top: -220px;}
		.image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			transition: .2s all linear;
			will-change: transform;
			-webkit-transform: translateZ(0);
		}
		.description {
			position: absolute;
			background: #61bfb6;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: 20px;
			.text {
				color: #FFF;
				width: 100%;
				overflow: hidden;
				h2 {
					font-family: 'Ubuntu', sans-serif;
					font-weight: 500;
					font-size: 36px;
					margin-bottom: 10px;
				}
				p {
					font-family: 'Open Sans', sans-serif;
					font-weight: 100;
					// font-style: italic;
					font-size: 18px;
					line-height: 24px;
				}
			}
			.saiba-mais {
				width: 100%;
				height: 46px;
				overflow: hidden;
				position: absolute;
				bottom: 20px;
				right: 20px;
				.btn {
					display: inline-block;
					height: 46px;
					width: 167px;
					border-radius: 5px;
					float: right;
					box-sizing: border-box;
					background-color: transparent;
					border: 1px solid #FFF;
					color: #FFF;
					text-decoration: none;
					text-align: center;
					text-transform: uppercase;
					line-height: 44px;
					font-family: 'Open Sans', sans-serif;
					font-size: 18px;
					font-weight: 100;
					transition: .1s all linear;
					&:hover {
						background-color: #FFF;
						color: #61bfb6;
					}
				}
			}
		}
		&:hover {
			.image {
				transform: scale(1.1);
				opacity: .8;
				transition: .2s all linear;
			}
		}
		&.card-1 {
			.description { width: 360px; right: 0; top: 0; 
				&:after {
					content: "";
					position: absolute;
					left: -11px;
					top: 50%;
					margin-top: -11px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 11px 11px 11px 0;
					border-color: transparent #61bfb6 transparent transparent;
					line-height: 0px;
					_border-color: #000000 #61bfb6 #000000 #000000;
					_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
				} 
			}
			.image {
				background-position: top left;
			}			
		}
		&.card-2 {
			.description { 
				height: 220px; left: 0; bottom: 0; 
				&:after {
					content: "";
					position: absolute;
					left: 50%;
					top: -11px;
					margin-left: -11px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 11px 11px 11px;
					border-color: transparent transparent #61bfb6 transparent;
					line-height: 0px;
					_border-color: #000000 #000000 #61bfb6 #000000;
					_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
				}
			}
			.image {
				background-position: top center;
				background-size: 100%;
			}			
		}
		&.card-3 {
			.description { 
				width: 300px; right: 0; top: 0; 
				&:after {
					content: "";
					position: absolute;
					left: -11px;
					top: 50%;
					margin-top: -11px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 11px 11px 11px 0;
					border-color: transparent #61bfb6 transparent transparent;
					line-height: 0px;
					_border-color: #000000 #61bfb6 #000000 #000000;
					_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
				}			
			}
		.image {
			background-position: top left;
		}				
		}				
	}
}

@media screen and (max-width: 1200px) {
	.main-content.home .card .description {
		 .text {
		 	h2 {
			  font-size: 25px;
			  margin-bottom: 5px;		 		
		 	}
		 	p {
		 		font-size: 16px;
		 		line-height: 22px;
		 	}
		 }

	}
	.main-content.home .card.card-1 {
		height: 256px;
		.description {
			width: 300px;
		}
	}
	.main-content.home .card.card-2 {
		height: 476px;
	}

}

@media screen and (max-width: 980px) {
	.main-slider {
		height: 265px;
		.item {
			height: 265px;
			.description { 
				height: 265px;
				padding-left: 0;
			}
		}
		.owl-buttons {
			display: none;
		}
	}
}

@media screen and (min-width: 720px) and (max-width: 960px) {
	.main-content.home .container-12 .grid-7:first-child  {
		width: 700px;
		overflow: hidden;
	}
	.main-content.home .card.card-3 {
		height: 360px;
		margin-top: 0;
	}
	.main-content.home .card.card-2 {
		height: 360px;
	}
	.main-content.home .container-12 .grid-7:last-child, .main-content.home .container-12 .grid-5  {
		width: 340px;
		overflow: hidden;
	}

	.main-content.home .card.card-2, .main-content.home .card.card-3 {
		.description {
			width: 100%;
			height: 188px;
			right: auto;
			left: 0;
			top: auto;
			bottom: 0;
			padding: 10px;
			&:after {
				content: "";
				position: absolute;
				left: 50%;
				top: -11px;
				margin-left: -11px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 11px 11px 11px;
				border-color: transparent transparent #61bfb6 transparent;
				line-height: 0px;
				_border-color: #000000 #000000 #61bfb6 #000000;
				_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
			}
			.saiba-mais {
				bottom: 15px;
				right: 15px;
			}		
		}
	}

	.main-content.home .card.card-1 {
		height: 235px;
		.description {
			width: 365px;
		}
		.image {
			background-size: 376px;
		}
	}	
	.main-content.home .card .description .text h2 {
		font-size: 30px;
	}
	.main-content.home .card .description .text p {
		font-size: 18px;
		line-height: 24px;
	}
}

@media screen and (max-width: 720px) {
	.main-slider {
		height: 200px;
		.item {
			height: 200px;
			.description {
				height: 200px;
				width: 380px;
				h2 {
					font-size: 36px;
					font-style: normal;
				}
				p {
					font-size: 14px;
					line-height: 22px;
				}				
			}
		}
	}
	.main-content.home .card {
		&.card-1, &.card-2, &.card-3 {
			margin: 0 auto 20px auto;
			height: 280px;
			width: 380px;
			.image {
				width: 100%;
			}
			.description {
				width: 100%;
				height: auto;
				padding: 10px;
				top: auto;
				right: auto;
				left: 0;
				bottom: 0;
				h2 {
					font-size: 18px;
				}
				p {
					font-size: 14px;
					line-height: 22px;					
				}
				&:after {
					content: "";
					position: absolute;
					left: 50%;
					top: -11px;
					margin-top: 0;
					margin-left: -11px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 11px 11px 11px;
					border-color: transparent transparent #61bfb6 transparent;
					line-height: 0px;
					_border-color: #000000 #000000 #61bfb6 #000000;
					_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
				}				
				.saiba-mais {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 560px) {
	.main-slider .item .description {
		width: 300px;
		padding: 10px;
		.saiba-mais {
			display: none;
		}
	}
}


@media screen and (max-width: 480px) {
	.main-slider {
		height: 136px;
		.item {
			height: 136px;
			.description {
				height: auto;
				width: 210px;
				h2 {
					font-size: 18px;
					font-style: normal;
				}
				p {
					font-size: 13px;
					line-height: 16px;
				}
			}
		}
		.owl-pagination .owl-page {
			width: 10px;
			height: 10px;
			top: -20px;
			margin: 0 3px;
		}
	}
}

@media screen and (max-width: 440px) {
	.main-content.home .card.card-1 , .main-content.home .card.card-2 , .main-content.home .card.card-3 {
		width: 100%;
		height: 220px;
		.image {
			background-size: 100%;
			background-position: top center;
		}
		&:hover {
			.image {
				transform: scale(1);
				opacity: 1;
			}
		}
		.description {
			height: auto;
		}
	} 	
	.main-content.home .card.card-1 {
		height: 250px;
		.description {
			height: 115px;
		}
	}
}
