body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}
.fix-header {
	height: 100px;
}

.main-header {
	height: 100px;
	box-sizing: border-box;
	padding: 10px 0;
	background-color: #61bfb6;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999999;
	.logo {
		float: left;
		a {
			display: block;
			background-image: url('../img/logo-desktop.png');
			width: 472px;
			height: 80px;
			overflow: hidden;
			text-indent: -999px;
		}
	}
	.main-nav {
		float: right;
		height: 80px;
		width: 510px;
		font-family: 'Ubuntu', sans-serif;
		ul {
			li {
				float: left;
				margin: 0 38px;
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				}
				a {
					display: inline-block;
					margin-top: 37px;
					height: 40px;
					line-height: 40px;
					font-size: 18px;
					color: #245a55;
					font-weight: 500;
					text-transform: uppercase;
					text-decoration: none;
					position: relative;
					transition: .1s all linear;
					-webkit-transition: .1s all linear;
					-moz-transition: .1s all linear;
					-ms-transition: .1s all linear;
					-o-transition: .1s all linear;
					&:after, &:before {
						content: " ";
						display: block;
						height: 3px;
						width: 100%;
						background: #FFF;
						position: absolute;
						opacity: 0;
						transition: .1s all linear;
						-webkit-transition: .1s all linear;
						-moz-transition: .1s all linear;
						-ms-transition: .1s all linear;
						-o-transition: .1s all linear;
					}
					&:after {
						bottom: 10px;
					}
					&:before {
						top: 10px;
					}
					&:hover, &.is-active {
						color: #FFF;
						&:after {
							bottom: 0;
							opacity: 1;
						}
						&:before {
							top: 0;
							opacity: 1;
						}						
					}
				}
			}
		}
	}
	.btn-menu {
		display: none;
		padding: 0;
		margin: 0;
		float: right;
		border: 1px solid #FFF;
		box-sizing: border-box;
		height: 52px;
		width: 52px;
		overflow: hidden;
		outline: none;
		border-radius: 3px;
		font-size: 36px;
		color: #FFF;
		line-height: 50px;
		text-align: center;
		background: #61bfb6;
		background-image: none;
		-webkit-appearance: none; 
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;					
		appearance: none;
	}
}

.darkshadow {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #245a55;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: .2s all linear;
}

.fixed-menu {
	position: fixed;
	box-sizing: border-box;
	width: 250px;
	padding-top: 90px;
	height: 100%;
	background-color: #FFF;
	right: -250px;
	bottom: 0;
	z-index: 99999;
	.content {
		width: 250px;
		padding: 0 10px;
		height: 100%;
		box-sizing: border-box;
		li {
			display: block;
			height: 60px;
			border-bottom: 1px solid #e5e5e5;
			a {
				display: block;
				height: 60px;
				width: 230px;
				padding: 10px 0;
				text-decoration: none;
				color: #61bfb6;
				box-sizing: border-box;
				.icon {
					display: inline-block;
					width: 40px;
					height: 40px;
					background: url(../img/menu-sprite.png);
					background-size: 160px 80px;
					float: left;
					margin-right: 10px;
				}
				.label {
					line-height: 40px;
					font-size: 18px;
					text-tranform: uppercase;
					font-weight: 500;
					font-family: 'Ubuntu', sans-serif;
				}
				&.home .icon {background-position: 0 0;}
				&.sobre .icon {background-position: -40px 0;}
				&.servicos .icon {background-position: -80px 0;}
				&.contato .icon {background-position: -120px 0;}

				&.home.is-active .icon, &.home:focus .icon {background-position: 0 -40px;}
				&.sobre.is-active .icon, &.sobre:focus .icon {background-position: -40px -40px;}
				&.servicos.is-active .icon, &.servicos:focus .icon {background-position: -80px -40px;}
				&.contato.is-active .icon, &.contato:focus .icon {background-position: -120px -40px;}							
			}
		}
		.btn-fb {
			margin: 0;
			margin-top: 30px;
			border: 1px solid #4365a1;
			padding: 3px;
			color: #4365a1;
			text-decoration: none;
			width: 230px;
			height: 42px;
			box-sizing: border-box;
			display:block;
			border-radius: 3px;
			font-family: 'Ubuntu', sans-serif;
			.fa {
				display: inline-block;
				width: 38px;
				line-height: 34px;
				font-size: 24px;
				text-align: center;
				border-right: 1px solid #e6e6e6;
				float: left;
			}
			.label {
				float: left;
				display: inline-block;
				line-height: 34px;
				padding-left: 10px;
				font-weight: 500;
				font-size: 18px;
			}
		}
	}
	&.is-active {
		right: 0;
	}
}

.main-content {
	overflow: hidden;
	margin-top: 40px;
}
.main-footer {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 0;
	margin-top: 15px;
	border-top: 2px solid #fafafa;
	.copyright {
		.icon {
			display: block;
			float: left;
			background: url(../img/footer-icon.jpg);
			width: 39px;
			height: 32px;
		}
		.label {
			float: left;
			display: block;
			font-size: 14px;
			font-weight: 100;
			height: 32px;
			line-height: 32px;
			padding-left: 10px;
			color: #cecece;
			.green-mark {
				color: #61bfb6;
			}

		}
	}
	.menu-footer {
		height: 32px;
		line-height: 32px;
		text-transform: uppercase;
		text-align: right;
		color: #fafafa;
		font-size: 14px;
		a {
			color: #61bfb6;
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 1200px) {
	.main-header .main-nav {
		width: 380px;
	}
	.main-header .main-nav ul li {
		margin: 0 15px;
	}
}


@media screen and (max-width: 1024px) {
	.main-header .main-nav {
		width: 380px;
	}
	.main-header .main-nav ul li {
		margin: 0 15px;
	}
}

@media screen and (min-width: 960px) {
	.fixed-menu {display: none;}
}

@media screen and (max-width: 960px) {
	.main-header {
		height: 90px;
		padding: 20px 0;
	}
	.fix-header {
		height: 90px;
	}	
	.main-header .logo a {
		background-image: url(../img/logo-tablet.png);
		width: 307px;
		height: 52px;
	}
	.main-header .btn-menu {
		display: block;
	}
	.main-header .main-nav {
		display: none;
	}
	.main-footer .copyright .label, .main-footer .menu-footer {
		float: none;
		text-align: center;
		font-size: 13px;
	}

	.main-footer .copyright .icon { display: none; }
}

@media screen and (max-width: 720px) {
	.main-footer .copyright {
		text-align: center;
	}
	.main-footer .copyright .icon { display: block; float: none; margin: 0 auto;}
}

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 980px),
    only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 980px),
    only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 980px),
    only screen and (        min-device-pixel-ratio: 2) and (max-width: 980px),
    only screen and (                min-resolution: 192dpi) and (max-width: 980px),
    only screen and (                min-resolution: 2dppx) and (max-width: 980px){
    .main-header .logo a {
    	background-image: url(../img/logo-tablet@x2.png);
    	background-size: 307px 52px;
    }
}

@media screen and (max-width: 568px) {
	.main-header {
		height: 60px;
		padding: 10px 0;
	}
	.fix-header {
		height: 60px;
	}	
	.main-header .logo a {
		background-image: url(../img/logo-mobile.png);
		background-size: 236px 40px;
		width: 236px;
		height: 40px;
		}	
	.main-header .btn-menu {
		display: block;
	}
	.main-header .btn-menu {
		height: 40px;
		width: 40px;
		line-height: 38px;
		font-size: 26px;
	}
	.fixed-menu {
		padding-top: 60px;
	}
	.main-footer .copyright .icon {
		width: 19px;
		height: 16px;
		background-size: 19px 16px;
	}
	.main-footer .copyright .label {
		font-size: 11px;
	}	
	.main-footer .menu-footer {
		display: none;
	}
}

@media screen and (max-width: 320px) {
	.container-12 {
		width: 290px;
	}	
}


@media 
	only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 568px),
    only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 568px),
    only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 568px),
    only screen and (        min-device-pixel-ratio: 2) and (max-width: 568px),
    only screen and (                min-resolution: 192dpi) and (max-width: 568px),
    only screen and (                min-resolution: 2dppx) and (max-width: 568px){
	    .main-header .logo a {
	    	background-image: url(../img/logo-mobile@x2.png);
			background-size: 236px 40px;
	    }
    }



@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx){
	    .fixed-menu .content li a .icon {
			background-image: url(../img/menu-sprite@x2.png);
			// background-size: 160px 80px;
	    }
    }
