.cover-page.servicos {
	height: 300px;
	text-align: center;
	line-height: 300px;
	font-size: 60px;
	font-family: "Ubuntu", sans-serif; 
	font-weight: 500;
	color: #FFF;
	text-transform: uppercase;
	background: url('../img/cover/servicos.jpg') no-repeat center center #4781a0;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -17.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 17.5px 17px 17.5px;
		border-color: transparent transparent #FFF transparent;
		line-height: 0px;
		_border-color: #000000 #000000 #FFF #000000;
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	}
	h2 {
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3)
	}
}

.page.servicos {
	overflow: hidden;
	padding-top: 40px;
	.servico-item {
		border-bottom: 2px solid #fafafa;
		padding-top: 15px;
		&.no-border {
			border-bottom-width: 0;
		}
		.figure {
			width: 100%;
			height: auto;
			max-height: 300px;
			overflow: hidden;
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
			.green-layer {
				background: rgba(97, 191, 182, .8);
				height: 140px;
				width: 100%;
				position: absolute;
				bottom: -140px;
				box-sizing: border-box;
				padding-top: 24px;
				transition: .1s all linear;
				button {
					display: block;
					margin: 0 auto;
					color: #FFF;
					font-size: 18px;
					font-family: "Ubuntu", sans-serif;
					text-transform: uppercase;
					background: transparent;
					border: 2px solid #FFF;
					border-radius: 100px;
					height: 46px;
					box-sizing: border-box;
					padding: 0 32px;
					text-align: center;
					line-height: 42px;
					transition: .1s all linear;
					&:hover {
						background: #FFF;
						color: #61bfb6;
					}
				}
				span {
					text-align: center;
					display: block;
					color: #FFF;
					font-size: 14px;
					line-height: 18px;
					font-weight: 100;
					margin-top: 10px;
				}
			}
		}
		.description {
			color: #737373;
			font-weight: 100;
			line-height: 22px;
			font-size: 18px;
			min-height: 180px;
			padding-bottom: 20px;
			box-sizing: border-box;
			h2 {
				font-size: 36px;
				color: #61bfb6;
				text-transform: uppercase;
				font-family: "Ubuntu", sans-serif; 
				font-weight: 500;
				line-height: 62px;
			}
			strong {
				font-weight: bold;
			}
		}
		&:hover .figure .green-layer {
			bottom: 0;	
		}
	}
}


@media screen and (max-width: 1200px){
	.page.servicos .servico-item .description h2 {
		font-size: 32px;
	}
	.page.servicos .servico-item .description {
		font-size: 16px;
	}
}

.tire-suas-duvidas {
	height: 892px;
	background: url('../img/bg-tire-duvidas.jpg') #92c5ba no-repeat center center;
	background-size: cover;
	width: 100%;
	margin-top: 30px;
	h2 {
		color: #FFF;
		font-size: 36px;
		text-align: center;
		font-weight: 500;
		font-family: 'Ubuntu', sans-serif;
		text-transform: uppercase;
		line-height: 82px;
	}
	.form-area {
		max-width: 800px;
		margin: 43px auto;
		border-bottom: 0;

		.title {
			display: block;
			font-size: 24px;
			color: #FFF;
			font-family: 'Ubuntu', sans-serif;
		}
		.campo.check-group {
			overflow: hidden;

			.check {
				height: 36px;
				width: 200px;
				float: left;
				overflow: hidden;
				margin: 12px 0;
			}
			label {
				font-size: 19px;
				color: #FFF;
				font-family: 'Ubuntu', sans-serif;
				span {
					display: inline-block;
					float: left;
					height: 36px;
					line-height: 36px;
					margin-left: 6px;
				}
			}
			input[type=checkbox] {
				display: none;
				& + label:before {
					content: " ";
					display: inline-block;
					background: #FFF;
					width: 36px;
					height: 36px;
					float: left;
					border-radius: 10px;
					color: #7bbbae;
					font-family:'FontAwesome';
					text-align: center;
					line-height: 36px;
					font-size: 24px;
				}
				&:checked + label:before {
					content: "\f00c";
				}
			}
		}
		.campo {
			width: 100%;
			min-height: 60px;
			margin-bottom: 20px;
			input, textarea, select {
				display: block;
				width: 100%;
				height: 60px;
				box-sizing: border-box;
				border: 2px solid #FFF;
				border-radius: 10px;
				outline: none;
				padding: 0 20px;
				font-size: 24px;
				font-family: 'Ubuntu', sans-serif;
				color: #444;
				box-shadow: none;
				&.is-incorrect {
					border-color: red;
				}
			}
			textarea {
				height: 240px;
				padding-top: 15px;
				resize: none;
			}
			.label {
				float: left;
				display: inline-block;
				height: 60px;
				line-height: 60px;
				color: #fff;
				font-size: 18px;
			}
			button[type=submit] {
				display: inline-block;
				float: right;
				height: 60px;
				width: 190px;
				background: transparent;
				border: 0;
				border-radius: 10px;
				font-size: 24px;
				color: #FFF;
				font-weight: 600;
				border: 2px solid #FFF;
				box-sizing: border-box;
				&:hover {
					background: #FFF;
					color: #61BFB6;
				}
			}
		}		
	}
}


@media screen and (max-width: 768px){
	.cover-page.servicos {
		height: 120px;
		line-height: 120px;
		font-size: 36px;
	}
	.page.servicos .servico-item .description {
		font-size: 14px;
	}
	.page.servicos .servico-item .description h2 {
		font-size: 22px;
		line-height: 42px;
	}

	.tire-suas-duvidas {
		height: auto;
		overflow: hidden;
		.form-area {
			margin: 20px auto;
		}
		h2 {
			font-size: 26px;
		}
	}
}


@media screen and (max-width: 480px) {

	.tire-suas-duvidas .form-area {
		margin: 10px auto;
		padding-bottom: 0;
	}
	.tire-suas-duvidas .form-area .campo input, .tire-suas-duvidas .form-area .campo textarea, .tire-suas-duvidas .form-area .campo select {
		height: 50px;
		font-size: 16px;
		border-radius: 5px;
		padding: 0 10px;
	}
	.tire-suas-duvidas .form-area .campo textarea {
		height: 130px;
		padding: 10px 10px 0 10px;
	}
	.tire-suas-duvidas .form-area .title {
		font-size: 22px;
		line-height: 24px;
		text-align: center;
	}
	.tire-suas-duvidas .form-area .campo.check-group .check {
		height: 26px;
		margin: 5px 0;
	}
	.tire-suas-duvidas .form-area .campo.check-group label span {
		height: 26px;
		line-height: 26px;
	}
	.tire-suas-duvidas .form-area .campo.check-group input[type=checkbox] + label:before {
		height: 26px;
		width: 26px;
		border-radius: 5px;
		line-height: 26px;
		font-size: 18px;
	}
	.tire-suas-duvidas .form-area .campo .label {
		font-size: 16px;
		height: 50px;
		line-height: 50px;
	}
	.tire-suas-duvidas .form-area .campo.check-group label {
		font-size: 16px;
	}
	.tire-suas-duvidas .form-area .campo button[type=submit] {
		width: 100%;
		float: none;
	}
}