.cover-profile {
	height: 358px;
	text-align: center;
	color: #FFF;
	background: url('../img/cover/sobre.jpg') no-repeat center center #708279;
	position: relative;
	margin-bottom: 40px;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -17.5px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 17.5px 17px 17.5px;
		border-color: transparent transparent #FFF transparent;
		line-height: 0px;
		_border-color: #000000 #000000 #FFF #000000;
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
	}

	.profile {
		width: 800px;
		margin: 40px auto 0 auto;
		height: 278px;
		overflow: hidden;
		figure {
			float: left;
			width: 278px;
			height: 278px;
			border-radius: 100%;
			overflow: hidden;
			background: #acb5d2;
			box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			img {
				width: 100%;
				height: 100%;
			}
		}
		figcaption {
			height: 75px;
			margin-top: 100px;
			margin-left: 20px;
			float: left;
			text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
			h1 {
				font-family: 'Ubuntu', sans-serif;
				font-weight: bold;
				font-size: 36px;
				margin-bottom: 9px;
			}
			p {
				font-family: 'Open Sans', sans-serif;
				font-weight: 100;
				font-size: 24px;
			}
		}
	}
}

.about-control {
	display: none;
	overflow: hidden;
	margin-bottom: 40px;
	.btn {
		display: inline-block;
		height: 36px;
		box-sizing: border-box;
		line-height: 32px;
		padding: 0 10px;
		border: 2px solid #61bfb6;
		border-radius: 5px;
		text-decoration: none;
		margin-right: 10px;
		text-transform: uppercase;
		font-family: 'Ubuntu', sans-serif;
		color: #61bfb6;
		&.is-active {
			color: #FFF;
			background: #61bfb6;
		}
	}
}

.page-sobre {
	article {
		color: #6a6a6a;
		p {
			font-size: 18px;
			line-height: 24px;
			margin: 1em 0;
			font-weight: 100;
		}
		strong, b {
			font-weight: 400;
		}
		i, em {
			font-style: italic;
		}
		a {
			color: #61bfb6;
			text-decoration: underline;
		}
		img {
			width: 100%;
			height: auto;
		}
		h1, h2, h3, h4, h5, h6 {
			font-size: 30px;
			color: #61bfb6;
			font-weight: bold;
			font-family: 'Ubuntu', sans-serif;
			margin: .4em 0;
		}
		h1 {
			font-size: 36px;
		}
	}
}

.timeline {
	.item {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		.year {
			display: block;
			width: 110px;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			font-size: 36px;
			font-family: 'Ubuntu', sans-serif;
			color: #61bfb6;
			font-weight: bold;
			height: 46px;
			line-height: 46px;
			background: url(../img/green-mark.jpg) no-repeat right center;
			background-size: 5px 10px;
		}
		.content {
			margin-left: 110px;
			box-sizing: border-box;
			border-color: #61bfb6;
			border-style: solid;
			border-bottom-width: 1px;
			border-left-width: 5px;
			padding: 0 0 20px 20px;
			figure {
				width: 100%;
				height: auto;
				img {
					width: 100%;
					height: auto;
				}
			}
			.text {
				margin-bottom: 20px;
			}
			h2 {
				.fa {
					margin-right: 6px;
				}
				color: #61bfb6;
				font-family: 'Ubuntu', sans-serif;
				font-weight: bold;
				font-size: 25px;
				margin-bottom: 11px;
			}
			p {
				color: #6a6a6a;
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
}

@media screen and (max-width: 1200px){
	.timeline .item .content h2 {
		font-size: 18px;
	}
	.timeline .item .content p {
		font-size: 14px;
		line-height: 18px;
	}
}

@media screen and (max-width: 960px){
	.timeline .item .year {
		width: 60px;
		font-size: 18px;
	}
	.timeline .item .content {
		margin-left: 60px;
		padding: 0 0 10px 10px;
	}
	.cover-profile .profile {
		width: 100%;
	}
	.cover-profile .profile figure {
		float: none;
		margin: 0 auto;
		width: 139px;
		height: 139px;
	}	
	.cover-profile .profile figcaption {
		float: none;
		margin: 0 auto;
		margin-top: 20px;
		height: auto;
	}
	.page-sobre article p {
		font-size: 14px;
	}

	.page-sobre article h2, .page-sobre article h3, .page-sobre article h4, .page-sobre article h5, .page-sobre article h6 {
		font-size: 22px;
	}

	.page-sobre article h1 {
		font-size: 26px;	
	}
}

@media screen and (max-width: 720px){
	.about-control {
		display: block;
	}
	.page-sobre article, .timeline {
		display: none;
		&.is-active {
			display: block;
		}
	}

}

@media screen and (max-width: 620px){
	.cover-profile .profile figcaption h1 {
		font-size: 28px;
	}
	.cover-profile .profile figcaption p {
		font-size: 18px;
	}
	.cover-profile {
		height: 320px;
	}
}


@media screen and (max-width: 480px){
	.cover-profile .profile figcaption h1 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.cover-profile .profile figcaption p {
		font-size: 12px;
	}
	.cover-profile {
		height: 260px;
		.profile {
			margin: 20px auto 0 auto;
			height: auto;
		}
	}
}