body {
  background: #FFF;
  font-family: 'Open Sans', sans-serif; }

.fix-header {
  height: 100px; }

.main-header {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: #61bfb6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999; }
  .main-header .logo {
    float: left; }
    .main-header .logo a {
      display: block;
      background-image: url("../img/logo-desktop.png");
      width: 472px;
      height: 80px;
      overflow: hidden;
      text-indent: -999px; }
  .main-header .main-nav {
    float: right;
    height: 80px;
    width: 510px;
    font-family: 'Ubuntu', sans-serif; }
    .main-header .main-nav ul li {
      float: left;
      margin: 0 38px; }
      .main-header .main-nav ul li:first-child {
        margin-left: 0; }
      .main-header .main-nav ul li:last-child {
        margin-right: 0; }
      .main-header .main-nav ul li a {
        display: inline-block;
        margin-top: 37px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #245a55;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        transition: .1s all linear;
        -webkit-transition: .1s all linear;
        -moz-transition: .1s all linear;
        -ms-transition: .1s all linear;
        -o-transition: .1s all linear; }
        .main-header .main-nav ul li a:after, .main-header .main-nav ul li a:before {
          content: " ";
          display: block;
          height: 3px;
          width: 100%;
          background: #FFF;
          position: absolute;
          opacity: 0;
          transition: .1s all linear;
          -webkit-transition: .1s all linear;
          -moz-transition: .1s all linear;
          -ms-transition: .1s all linear;
          -o-transition: .1s all linear; }
        .main-header .main-nav ul li a:after {
          bottom: 10px; }
        .main-header .main-nav ul li a:before {
          top: 10px; }
        .main-header .main-nav ul li a:hover, .main-header .main-nav ul li a.is-active {
          color: #FFF; }
          .main-header .main-nav ul li a:hover:after, .main-header .main-nav ul li a.is-active:after {
            bottom: 0;
            opacity: 1; }
          .main-header .main-nav ul li a:hover:before, .main-header .main-nav ul li a.is-active:before {
            top: 0;
            opacity: 1; }
  .main-header .btn-menu {
    display: none;
    padding: 0;
    margin: 0;
    float: right;
    border: 1px solid #FFF;
    box-sizing: border-box;
    height: 52px;
    width: 52px;
    overflow: hidden;
    outline: none;
    border-radius: 3px;
    font-size: 36px;
    color: #FFF;
    line-height: 50px;
    text-align: center;
    background: #61bfb6;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }

.darkshadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #245a55;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: .2s all linear; }

.fixed-menu {
  position: fixed;
  box-sizing: border-box;
  width: 250px;
  padding-top: 90px;
  height: 100%;
  background-color: #FFF;
  right: -250px;
  bottom: 0;
  z-index: 99999; }
  .fixed-menu .content {
    width: 250px;
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box; }
    .fixed-menu .content li {
      display: block;
      height: 60px;
      border-bottom: 1px solid #e5e5e5; }
      .fixed-menu .content li a {
        display: block;
        height: 60px;
        width: 230px;
        padding: 10px 0;
        text-decoration: none;
        color: #61bfb6;
        box-sizing: border-box; }
        .fixed-menu .content li a .icon {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url(../img/menu-sprite.png);
          background-size: 160px 80px;
          float: left;
          margin-right: 10px; }
        .fixed-menu .content li a .label {
          line-height: 40px;
          font-size: 18px;
          text-tranform: uppercase;
          font-weight: 500;
          font-family: 'Ubuntu', sans-serif; }
        .fixed-menu .content li a.home .icon {
          background-position: 0 0; }
        .fixed-menu .content li a.sobre .icon {
          background-position: -40px 0; }
        .fixed-menu .content li a.servicos .icon {
          background-position: -80px 0; }
        .fixed-menu .content li a.contato .icon {
          background-position: -120px 0; }
        .fixed-menu .content li a.home.is-active .icon, .fixed-menu .content li a.home:focus .icon {
          background-position: 0 -40px; }
        .fixed-menu .content li a.sobre.is-active .icon, .fixed-menu .content li a.sobre:focus .icon {
          background-position: -40px -40px; }
        .fixed-menu .content li a.servicos.is-active .icon, .fixed-menu .content li a.servicos:focus .icon {
          background-position: -80px -40px; }
        .fixed-menu .content li a.contato.is-active .icon, .fixed-menu .content li a.contato:focus .icon {
          background-position: -120px -40px; }
    .fixed-menu .content .btn-fb {
      margin: 0;
      margin-top: 30px;
      border: 1px solid #4365a1;
      padding: 3px;
      color: #4365a1;
      text-decoration: none;
      width: 230px;
      height: 42px;
      box-sizing: border-box;
      display: block;
      border-radius: 3px;
      font-family: 'Ubuntu', sans-serif; }
      .fixed-menu .content .btn-fb .fa {
        display: inline-block;
        width: 38px;
        line-height: 34px;
        font-size: 24px;
        text-align: center;
        border-right: 1px solid #e6e6e6;
        float: left; }
      .fixed-menu .content .btn-fb .label {
        float: left;
        display: inline-block;
        line-height: 34px;
        padding-left: 10px;
        font-weight: 500;
        font-size: 18px; }
  .fixed-menu.is-active {
    right: 0; }

.main-content {
  overflow: hidden;
  margin-top: 40px; }

.main-footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  margin-top: 15px;
  border-top: 2px solid #fafafa; }
  .main-footer .copyright .icon {
    display: block;
    float: left;
    background: url(../img/footer-icon.jpg);
    width: 39px;
    height: 32px; }
  .main-footer .copyright .label {
    float: left;
    display: block;
    font-size: 14px;
    font-weight: 100;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    color: #cecece; }
    .main-footer .copyright .label .green-mark {
      color: #61bfb6; }
  .main-footer .menu-footer {
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: right;
    color: #fafafa;
    font-size: 14px; }
    .main-footer .menu-footer a {
      color: #61bfb6;
      text-decoration: none; }

@media screen and (max-width: 1200px) {
  .main-header .main-nav {
    width: 380px; }

  .main-header .main-nav ul li {
    margin: 0 15px; } }
@media screen and (max-width: 1024px) {
  .main-header .main-nav {
    width: 380px; }

  .main-header .main-nav ul li {
    margin: 0 15px; } }
@media screen and (min-width: 960px) {
  .fixed-menu {
    display: none; } }
@media screen and (max-width: 960px) {
  .main-header {
    height: 90px;
    padding: 20px 0; }

  .fix-header {
    height: 90px; }

  .main-header .logo a {
    background-image: url(../img/logo-tablet.png);
    width: 307px;
    height: 52px; }

  .main-header .btn-menu {
    display: block; }

  .main-header .main-nav {
    display: none; }

  .main-footer .copyright .label, .main-footer .menu-footer {
    float: none;
    text-align: center;
    font-size: 13px; }

  .main-footer .copyright .icon {
    display: none; } }
@media screen and (max-width: 720px) {
  .main-footer .copyright {
    text-align: center; }

  .main-footer .copyright .icon {
    display: block;
    float: none;
    margin: 0 auto; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 980px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 980px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 980px), only screen and (min-device-pixel-ratio: 2) and (max-width: 980px), only screen and (min-resolution: 192dpi) and (max-width: 980px), only screen and (min-resolution: 2dppx) and (max-width: 980px) {
  .main-header .logo a {
    background-image: url(../img/logo-tablet@x2.png);
    background-size: 307px 52px; } }
@media screen and (max-width: 568px) {
  .main-header {
    height: 60px;
    padding: 10px 0; }

  .fix-header {
    height: 60px; }

  .main-header .logo a {
    background-image: url(../img/logo-mobile.png);
    background-size: 236px 40px;
    width: 236px;
    height: 40px; }

  .main-header .btn-menu {
    display: block; }

  .main-header .btn-menu {
    height: 40px;
    width: 40px;
    line-height: 38px;
    font-size: 26px; }

  .fixed-menu {
    padding-top: 60px; }

  .main-footer .copyright .icon {
    width: 19px;
    height: 16px;
    background-size: 19px 16px; }

  .main-footer .copyright .label {
    font-size: 11px; }

  .main-footer .menu-footer {
    display: none; } }
@media screen and (max-width: 320px) {
  .container-12 {
    width: 290px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 568px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 568px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 568px), only screen and (min-device-pixel-ratio: 2) and (max-width: 568px), only screen and (min-resolution: 192dpi) and (max-width: 568px), only screen and (min-resolution: 2dppx) and (max-width: 568px) {
  .main-header .logo a {
    background-image: url(../img/logo-mobile@x2.png);
    background-size: 236px 40px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .fixed-menu .content li a .icon {
    background-image: url(../img/menu-sprite@x2.png); } }
.main-slider {
  width: 100%;
  overflow: hidden;
  height: 400px; }
  .main-slider .item {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-position: top center;
    background-size: cover;
    background-color: #DEE8E9; }
    .main-slider .item .description {
      height: 400px;
      width: 480px;
      margin-left: 150px;
      color: #FFF;
      display: table-cell;
      vertical-align: middle;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      padding-left: 150px; }
      .main-slider .item .description.green {
        color: #61bfb6; }
      .main-slider .item .description h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 60px;
        font-weight: 400;
        font-style: italic; }
      .main-slider .item .description p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 22px;
        font-weight: 100; }
  .main-slider .owl-pagination {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    height: 0;
    text-align: center;
    position: relative; }
    .main-slider .owl-pagination .owl-page {
      display: inline-block;
      position: relative;
      top: -30px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 100%;
      border: 1px solid #FFF;
      margin: 0 7px;
      opacity: .5; }
      .main-slider .owl-pagination .owl-page.active {
        background: #FFF; }
  .main-slider .owl-buttons {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    height: 0;
    position: relative; }
    .main-slider .owl-buttons div {
      width: 62px;
      height: 62px;
      border-radius: 100%;
      background: transparent;
      display: block;
      position: absolute;
      top: -200px;
      margin-top: -31px;
      box-sizing: border-box;
      border: 2px solid #FFF;
      overflow: hidden;
      text-align: center;
      color: #FFF;
      line-height: 60px;
      font-size: 48px;
      transition: .1s all linear; }
      .main-slider .owl-buttons div.owl-next {
        right: 10px; }
        .main-slider .owl-buttons div.owl-next:after {
          font-family: 'FontAwesome';
          content: "\f105";
          margin-left: 5px; }
      .main-slider .owl-buttons div.owl-prev {
        left: 10px; }
        .main-slider .owl-buttons div.owl-prev:after {
          font-family: 'FontAwesome';
          content: "\f104";
          margin-left: -5px; }
      .main-slider .owl-buttons div:hover {
        background-color: #61bfb6;
        border-color: #61bfb6; }

.main-content.home .card {
  overflow: hidden;
  position: relative;
  background-color: #444;
  margin-bottom: 20px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
  border: 0;
  outline: none; }
  .main-content.home .card.card-1 {
    height: 300px; }
  .main-content.home .card.card-2 {
    height: 520px; }
  .main-content.home .card.card-3 {
    height: 200px;
    margin-top: -220px; }
  .main-content.home .card .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: .2s all linear;
    will-change: transform;
    -webkit-transform: translateZ(0); }
  .main-content.home .card .description {
    position: absolute;
    background: #61bfb6;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px; }
    .main-content.home .card .description .text {
      color: #FFF;
      width: 100%;
      overflow: hidden; }
      .main-content.home .card .description .text h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 10px; }
      .main-content.home .card .description .text p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 18px;
        line-height: 24px; }
    .main-content.home .card .description .saiba-mais {
      width: 100%;
      height: 46px;
      overflow: hidden;
      position: absolute;
      bottom: 20px;
      right: 20px; }
      .main-content.home .card .description .saiba-mais .btn {
        display: inline-block;
        height: 46px;
        width: 167px;
        border-radius: 5px;
        float: right;
        box-sizing: border-box;
        background-color: transparent;
        border: 1px solid #FFF;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        line-height: 44px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 100;
        transition: .1s all linear; }
        .main-content.home .card .description .saiba-mais .btn:hover {
          background-color: #FFF;
          color: #61bfb6; }
  .main-content.home .card:hover .image {
    transform: scale(1.1);
    opacity: .8;
    transition: .2s all linear; }
  .main-content.home .card.card-1 .description {
    width: 360px;
    right: 0;
    top: 0; }
    .main-content.home .card.card-1 .description:after {
      content: "";
      position: absolute;
      left: -11px;
      top: 50%;
      margin-top: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 11px 11px 0;
      border-color: transparent #61bfb6 transparent transparent;
      line-height: 0px;
      _border-color: #000000 #61bfb6 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .main-content.home .card.card-1 .image {
    background-position: top left; }
  .main-content.home .card.card-2 .description {
    height: 220px;
    left: 0;
    bottom: 0; }
    .main-content.home .card.card-2 .description:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 11px 11px 11px;
      border-color: transparent transparent #61bfb6 transparent;
      line-height: 0px;
      _border-color: #000000 #000000 #61bfb6 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .main-content.home .card.card-2 .image {
    background-position: top center;
    background-size: 100%; }
  .main-content.home .card.card-3 .description {
    width: 300px;
    right: 0;
    top: 0; }
    .main-content.home .card.card-3 .description:after {
      content: "";
      position: absolute;
      left: -11px;
      top: 50%;
      margin-top: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 11px 11px 0;
      border-color: transparent #61bfb6 transparent transparent;
      line-height: 0px;
      _border-color: #000000 #61bfb6 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .main-content.home .card.card-3 .image {
    background-position: top left; }

@media screen and (max-width: 1200px) {
  .main-content.home .card .description .text h2 {
    font-size: 25px;
    margin-bottom: 5px; }
  .main-content.home .card .description .text p {
    font-size: 16px;
    line-height: 22px; }

  .main-content.home .card.card-1 {
    height: 256px; }
    .main-content.home .card.card-1 .description {
      width: 300px; }

  .main-content.home .card.card-2 {
    height: 476px; } }
@media screen and (max-width: 980px) {
  .main-slider {
    height: 265px; }
    .main-slider .item {
      height: 265px; }
      .main-slider .item .description {
        height: 265px;
        padding-left: 0; }
    .main-slider .owl-buttons {
      display: none; } }
@media screen and (min-width: 720px) and (max-width: 960px) {
  .main-content.home .container-12 .grid-7:first-child {
    width: 700px;
    overflow: hidden; }

  .main-content.home .card.card-3 {
    height: 360px;
    margin-top: 0; }

  .main-content.home .card.card-2 {
    height: 360px; }

  .main-content.home .container-12 .grid-7:last-child, .main-content.home .container-12 .grid-5 {
    width: 340px;
    overflow: hidden; }

  .main-content.home .card.card-2 .description, .main-content.home .card.card-3 .description {
    width: 100%;
    height: 188px;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 10px; }
    .main-content.home .card.card-2 .description:after, .main-content.home .card.card-3 .description:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 11px 11px 11px;
      border-color: transparent transparent #61bfb6 transparent;
      line-height: 0px;
      _border-color: #000000 #000000 #61bfb6 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
    .main-content.home .card.card-2 .description .saiba-mais, .main-content.home .card.card-3 .description .saiba-mais {
      bottom: 15px;
      right: 15px; }

  .main-content.home .card.card-1 {
    height: 235px; }
    .main-content.home .card.card-1 .description {
      width: 365px; }
    .main-content.home .card.card-1 .image {
      background-size: 376px; }

  .main-content.home .card .description .text h2 {
    font-size: 30px; }

  .main-content.home .card .description .text p {
    font-size: 18px;
    line-height: 24px; } }
@media screen and (max-width: 720px) {
  .main-slider {
    height: 200px; }
    .main-slider .item {
      height: 200px; }
      .main-slider .item .description {
        height: 200px;
        width: 380px; }
        .main-slider .item .description h2 {
          font-size: 36px;
          font-style: normal; }
        .main-slider .item .description p {
          font-size: 14px;
          line-height: 22px; }

  .main-content.home .card.card-1, .main-content.home .card.card-2, .main-content.home .card.card-3 {
    margin: 0 auto 20px auto;
    height: 280px;
    width: 380px; }
    .main-content.home .card.card-1 .image, .main-content.home .card.card-2 .image, .main-content.home .card.card-3 .image {
      width: 100%; }
    .main-content.home .card.card-1 .description, .main-content.home .card.card-2 .description, .main-content.home .card.card-3 .description {
      width: 100%;
      height: auto;
      padding: 10px;
      top: auto;
      right: auto;
      left: 0;
      bottom: 0; }
      .main-content.home .card.card-1 .description h2, .main-content.home .card.card-2 .description h2, .main-content.home .card.card-3 .description h2 {
        font-size: 18px; }
      .main-content.home .card.card-1 .description p, .main-content.home .card.card-2 .description p, .main-content.home .card.card-3 .description p {
        font-size: 14px;
        line-height: 22px; }
      .main-content.home .card.card-1 .description:after, .main-content.home .card.card-2 .description:after, .main-content.home .card.card-3 .description:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -11px;
        margin-top: 0;
        margin-left: -11px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        border-color: transparent transparent #61bfb6 transparent;
        line-height: 0px;
        _border-color: #000000 #000000 #61bfb6 #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
      .main-content.home .card.card-1 .description .saiba-mais, .main-content.home .card.card-2 .description .saiba-mais, .main-content.home .card.card-3 .description .saiba-mais {
        display: none; } }
@media screen and (max-width: 560px) {
  .main-slider .item .description {
    width: 300px;
    padding: 10px; }
    .main-slider .item .description .saiba-mais {
      display: none; } }
@media screen and (max-width: 480px) {
  .main-slider {
    height: 136px; }
    .main-slider .item {
      height: 136px; }
      .main-slider .item .description {
        height: auto;
        width: 210px; }
        .main-slider .item .description h2 {
          font-size: 18px;
          font-style: normal; }
        .main-slider .item .description p {
          font-size: 13px;
          line-height: 16px; }
    .main-slider .owl-pagination .owl-page {
      width: 10px;
      height: 10px;
      top: -20px;
      margin: 0 3px; } }
@media screen and (max-width: 440px) {
  .main-content.home .card.card-1, .main-content.home .card.card-2, .main-content.home .card.card-3 {
    width: 100%;
    height: 220px; }
    .main-content.home .card.card-1 .image, .main-content.home .card.card-2 .image, .main-content.home .card.card-3 .image {
      background-size: 100%;
      background-position: top center; }
    .main-content.home .card.card-1:hover .image, .main-content.home .card.card-2:hover .image, .main-content.home .card.card-3:hover .image {
      transform: scale(1);
      opacity: 1; }
    .main-content.home .card.card-1 .description, .main-content.home .card.card-2 .description, .main-content.home .card.card-3 .description {
      height: auto; }

  .main-content.home .card.card-1 {
    height: 250px; }
    .main-content.home .card.card-1 .description {
      height: 115px; } }
.localizacao {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: #67938d; }
  .localizacao:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 17px 17.5px;
    border-color: transparent transparent #FFF transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #FFF #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .localizacao .map {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0; }
    .localizacao .map iframe {
      width: 100%;
      height: 500px; }
  .localizacao .info {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(70, 126, 121, 0.8); }
    .localizacao .info .address-wrap {
      width: 300px;
      height: 394px;
      margin: 43px auto;
      overflow: hidden;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      padding: 10px 0; }
      .localizacao .info .address-wrap .icon {
        width: 152px;
        height: 152px;
        border: 1px solid #FFF;
        box-sizing: border-box;
        border-radius: 100%;
        margin: 0 auto;
        line-height: 150px;
        text-align: center;
        color: #FFF;
        font-size: 102px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 11px; }
      .localizacao .info .address-wrap .title {
        font-size: 36px;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-weight: 600;
        color: #FFF;
        margin-bottom: 24px; }
      .localizacao .info .address-wrap .address {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: #FFF;
        font-weight: 100;
        margin-bottom: 35px; }
      .localizacao .info .address-wrap .btn {
        display: block;
        margin: 0 auto;
        height: 52px;
        width: 160px;
        border-radius: 100px;
        box-sizing: border-box;
        border: 2px solid #FFF;
        background: transparent;
        appearance: none;
        color: #FFF;
        font-size: 24px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        font-family: 'Ubuntu', sans-serif;
        outline: none;
        transition: .2s all linear; }
        .localizacao .info .address-wrap .btn:hover {
          background-color: #FFF;
          color: #61bfb6;
          text-shadow: 0 2px 2px transparent; }

.contato {
  overflow: hidden;
  padding: 40px 0; }
  .contato hr {
    border: 0;
    border-top: 1px solid #e9e9e9;
    margin: 30px 0; }
  .contato h2 {
    color: #61bfb6;
    font-size: 36px;
    line-height: 42px;
    font-weight: 100;
    font-family: 'Ubuntu', sans-serif; }
    .contato h2 span {
      font-weight: 500; }
  .contato .ligue-agora {
    text-align: center; }
    .contato .ligue-agora a {
      display: inline-block;
      border-radius: 100px;
      box-sizing: border-box;
      background-color: #61bfb6;
      height: 60px;
      line-height: 60px;
      color: #FFF;
      text-decoration: none;
      font-size: 30px;
      font-weight: 600;
      padding: 0 30px;
      margin-top: 30px; }
  .contato .horario-de-atendimento {
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #c2c2c2;
    text-transform: uppercase;
    line-height: 22px; }
    .contato .horario-de-atendimento strong {
      color: #61bfb6;
      display: block; }
  .contato .parceiro {
    text-align: center;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #c2c2c2;
    text-transform: uppercase;
    line-height: 22px; }
    .contato .parceiro a {
      display: block;
      margin: 10px auto;
      outline: none; }
  .contato .form-area h2 {
    margin-bottom: 20px; }
  .contato .form-area .campo {
    width: 100%;
    min-height: 60px;
    margin-bottom: 20px; }
    .contato .form-area .campo input, .contato .form-area .campo textarea, .contato .form-area .campo select {
      display: block;
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      border: 2px solid #e9e9e8;
      border-radius: 10px;
      outline: none;
      padding: 0 20px;
      font-size: 24px;
      font-family: 'Ubuntu', sans-serif;
      color: #444;
      box-shadow: none; }
      .contato .form-area .campo input.is-incorrect, .contato .form-area .campo textarea.is-incorrect, .contato .form-area .campo select.is-incorrect {
        border-color: red; }
    .contato .form-area .campo textarea {
      height: 240px;
      padding-top: 15px;
      resize: none; }
    .contato .form-area .campo .label {
      float: left;
      display: inline-block;
      height: 60px;
      line-height: 60px;
      color: #c2c2c2;
      font-size: 18px; }
    .contato .form-area .campo button[type=submit] {
      display: inline-block;
      float: right;
      height: 60px;
      width: 190px;
      background: #61bfb6;
      border: 0;
      border-radius: 10px;
      font-size: 24px;
      color: #FFF;
      font-weight: 600; }

@media screen and (max-width: 1024px) {
  .localizacao {
    height: 320px; }
    .localizacao .map {
      height: 320px; }
      .localizacao .map iframe {
        height: 320px; }
    .localizacao .info {
      height: 320px; }
      .localizacao .info .address-wrap {
        margin: 10px auto;
        height: 300px;
        box-sizing: border-box; }
        .localizacao .info .address-wrap .icon {
          width: 56px;
          height: 56px;
          font-size: 36px;
          line-height: 54px;
          margin-bottom: 20px; }
        .localizacao .info .address-wrap .title {
          font-size: 18px;
          margin-bottom: 20px; }
        .localizacao .info .address-wrap .address {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 20px; } }
@media screen and (max-width: 960px) {
  .contato h2 {
    font-size: 32px;
    line-height: 34px; }

  .contato .ligue-agora a {
    font-size: 22px; }

  .contato .parceiro {
    font-size: 16px; }
    .contato .parceiro img {
      width: 100%; }

  .contato hr {
    margin: 20px 0; }

  .contato .horario-de-atendimento {
    font-size: 16px;
    line-height: 18px; } }
@media screen and (max-width: 720px) {
  .contato h2 br {
    display: none; }

  .contato .parceiro img {
    width: 125px; }

  .form-area {
    padding-bottom: 40px;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9; }

  .ligue-agora {
    padding-top: 40px; } }
@media screen and (max-width: 480px) {
  .contato h2 {
    text-align: center;
    font-size: 22px; }

  .contato .ligue-agora a {
    font-size: 18px;
    height: 42px;
    line-height: 42px; }

  .contato .horario-de-atendimento {
    font-size: 14px;
    line-height: 16px; }

  .contato .form-area .campo {
    min-height: 50px;
    margin-bottom: 10px; }

  .contato .form-area .campo input, .contato .form-area .campo textarea, .contato .form-area .campo select {
    height: 50px;
    font-size: 16px; }

  .contato .form-area .campo textarea {
    height: 130px; }

  .contato .form-area .campo button[type=submit] {
    width: 100%; } }
.cover-profile {
  height: 358px;
  text-align: center;
  color: #FFF;
  background: url("../img/cover/sobre.jpg") no-repeat center center #708279;
  position: relative;
  margin-bottom: 40px; }
  .cover-profile:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 17px 17.5px;
    border-color: transparent transparent #FFF transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #FFF #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .cover-profile .profile {
    width: 800px;
    margin: 40px auto 0 auto;
    height: 278px;
    overflow: hidden; }
    .cover-profile .profile figure {
      float: left;
      width: 278px;
      height: 278px;
      border-radius: 100%;
      overflow: hidden;
      background: #acb5d2;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
      .cover-profile .profile figure img {
        width: 100%;
        height: 100%; }
    .cover-profile .profile figcaption {
      height: 75px;
      margin-top: 100px;
      margin-left: 20px;
      float: left;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
      .cover-profile .profile figcaption h1 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 9px; }
      .cover-profile .profile figcaption p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-size: 24px; }

.about-control {
  display: none;
  overflow: hidden;
  margin-bottom: 40px; }
  .about-control .btn {
    display: inline-block;
    height: 36px;
    box-sizing: border-box;
    line-height: 32px;
    padding: 0 10px;
    border: 2px solid #61bfb6;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    color: #61bfb6; }
    .about-control .btn.is-active {
      color: #FFF;
      background: #61bfb6; }

.page-sobre article {
  color: #6a6a6a; }
  .page-sobre article p {
    font-size: 18px;
    line-height: 24px;
    margin: 1em 0;
    font-weight: 100; }
  .page-sobre article strong, .page-sobre article b {
    font-weight: 400; }
  .page-sobre article i, .page-sobre article em {
    font-style: italic; }
  .page-sobre article a {
    color: #61bfb6;
    text-decoration: underline; }
  .page-sobre article img {
    width: 100%;
    height: auto; }
  .page-sobre article h1, .page-sobre article h2, .page-sobre article h3, .page-sobre article h4, .page-sobre article h5, .page-sobre article h6 {
    font-size: 30px;
    color: #61bfb6;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin: .4em 0; }
  .page-sobre article h1 {
    font-size: 36px; }

.timeline .item {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 20px; }
  .timeline .item .year {
    display: block;
    width: 110px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    color: #61bfb6;
    font-weight: bold;
    height: 46px;
    line-height: 46px;
    background: url(../img/green-mark.jpg) no-repeat right center;
    background-size: 5px 10px; }
  .timeline .item .content {
    margin-left: 110px;
    box-sizing: border-box;
    border-color: #61bfb6;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 5px;
    padding: 0 0 20px 20px; }
    .timeline .item .content figure {
      width: 100%;
      height: auto; }
      .timeline .item .content figure img {
        width: 100%;
        height: auto; }
    .timeline .item .content .text {
      margin-bottom: 20px; }
    .timeline .item .content h2 {
      color: #61bfb6;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 11px; }
      .timeline .item .content h2 .fa {
        margin-right: 6px; }
    .timeline .item .content p {
      color: #6a6a6a;
      font-size: 18px;
      line-height: 22px; }

@media screen and (max-width: 1200px) {
  .timeline .item .content h2 {
    font-size: 18px; }

  .timeline .item .content p {
    font-size: 14px;
    line-height: 18px; } }
@media screen and (max-width: 960px) {
  .timeline .item .year {
    width: 60px;
    font-size: 18px; }

  .timeline .item .content {
    margin-left: 60px;
    padding: 0 0 10px 10px; }

  .cover-profile .profile {
    width: 100%; }

  .cover-profile .profile figure {
    float: none;
    margin: 0 auto;
    width: 139px;
    height: 139px; }

  .cover-profile .profile figcaption {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    height: auto; }

  .page-sobre article p {
    font-size: 14px; }

  .page-sobre article h2, .page-sobre article h3, .page-sobre article h4, .page-sobre article h5, .page-sobre article h6 {
    font-size: 22px; }

  .page-sobre article h1 {
    font-size: 26px; } }
@media screen and (max-width: 720px) {
  .about-control {
    display: block; }

  .page-sobre article, .timeline {
    display: none; }
    .page-sobre article.is-active, .timeline.is-active {
      display: block; } }
@media screen and (max-width: 620px) {
  .cover-profile .profile figcaption h1 {
    font-size: 28px; }

  .cover-profile .profile figcaption p {
    font-size: 18px; }

  .cover-profile {
    height: 320px; } }
@media screen and (max-width: 480px) {
  .cover-profile .profile figcaption h1 {
    font-size: 18px;
    margin-bottom: 5px; }

  .cover-profile .profile figcaption p {
    font-size: 12px; }

  .cover-profile {
    height: 260px; }
    .cover-profile .profile {
      margin: 20px auto 0 auto;
      height: auto; } }
.cover-page.servicos {
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 60px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
  background: url("../img/cover/servicos.jpg") no-repeat center center #4781a0;
  position: relative; }
  .cover-page.servicos:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 17px 17.5px;
    border-color: transparent transparent #FFF transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #FFF #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .cover-page.servicos h2 {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

.page.servicos {
  overflow: hidden;
  padding-top: 40px; }
  .page.servicos .servico-item {
    border-bottom: 2px solid #fafafa;
    padding-top: 15px; }
    .page.servicos .servico-item.no-border {
      border-bottom-width: 0; }
    .page.servicos .servico-item .figure {
      width: 100%;
      height: auto;
      max-height: 300px;
      overflow: hidden;
      position: relative; }
      .page.servicos .servico-item .figure img {
        width: 100%;
        height: auto; }
      .page.servicos .servico-item .figure .green-layer {
        background: rgba(97, 191, 182, 0.8);
        height: 140px;
        width: 100%;
        position: absolute;
        bottom: -140px;
        box-sizing: border-box;
        padding-top: 24px;
        transition: .1s all linear; }
        .page.servicos .servico-item .figure .green-layer button {
          display: block;
          margin: 0 auto;
          color: #FFF;
          font-size: 18px;
          font-family: "Ubuntu", sans-serif;
          text-transform: uppercase;
          background: transparent;
          border: 2px solid #FFF;
          border-radius: 100px;
          height: 46px;
          box-sizing: border-box;
          padding: 0 32px;
          text-align: center;
          line-height: 42px;
          transition: .1s all linear; }
          .page.servicos .servico-item .figure .green-layer button:hover {
            background: #FFF;
            color: #61bfb6; }
        .page.servicos .servico-item .figure .green-layer span {
          text-align: center;
          display: block;
          color: #FFF;
          font-size: 14px;
          line-height: 18px;
          font-weight: 100;
          margin-top: 10px; }
    .page.servicos .servico-item .description {
      color: #737373;
      font-weight: 100;
      line-height: 22px;
      font-size: 18px;
      min-height: 180px;
      padding-bottom: 20px;
      box-sizing: border-box; }
      .page.servicos .servico-item .description h2 {
        font-size: 36px;
        color: #61bfb6;
        text-transform: uppercase;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        line-height: 62px; }
      .page.servicos .servico-item .description strong {
        font-weight: bold; }
    .page.servicos .servico-item:hover .figure .green-layer {
      bottom: 0; }

@media screen and (max-width: 1200px) {
  .page.servicos .servico-item .description h2 {
    font-size: 32px; }

  .page.servicos .servico-item .description {
    font-size: 16px; } }
.tire-suas-duvidas {
  height: 892px;
  background: url("../img/bg-tire-duvidas.jpg") #92c5ba no-repeat center center;
  background-size: cover;
  width: 100%;
  margin-top: 30px; }
  .tire-suas-duvidas h2 {
    color: #FFF;
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    line-height: 82px; }
  .tire-suas-duvidas .form-area {
    max-width: 800px;
    margin: 43px auto;
    border-bottom: 0; }
    .tire-suas-duvidas .form-area .title {
      display: block;
      font-size: 24px;
      color: #FFF;
      font-family: 'Ubuntu', sans-serif; }
    .tire-suas-duvidas .form-area .campo.check-group {
      overflow: hidden; }
      .tire-suas-duvidas .form-area .campo.check-group .check {
        height: 36px;
        width: 200px;
        float: left;
        overflow: hidden;
        margin: 12px 0; }
      .tire-suas-duvidas .form-area .campo.check-group label {
        font-size: 19px;
        color: #FFF;
        font-family: 'Ubuntu', sans-serif; }
        .tire-suas-duvidas .form-area .campo.check-group label span {
          display: inline-block;
          float: left;
          height: 36px;
          line-height: 36px;
          margin-left: 6px; }
      .tire-suas-duvidas .form-area .campo.check-group input[type=checkbox] {
        display: none; }
        .tire-suas-duvidas .form-area .campo.check-group input[type=checkbox] + label:before {
          content: " ";
          display: inline-block;
          background: #FFF;
          width: 36px;
          height: 36px;
          float: left;
          border-radius: 10px;
          color: #7bbbae;
          font-family: 'FontAwesome';
          text-align: center;
          line-height: 36px;
          font-size: 24px; }
        .tire-suas-duvidas .form-area .campo.check-group input[type=checkbox]:checked + label:before {
          content: "\f00c"; }
    .tire-suas-duvidas .form-area .campo {
      width: 100%;
      min-height: 60px;
      margin-bottom: 20px; }
      .tire-suas-duvidas .form-area .campo input, .tire-suas-duvidas .form-area .campo textarea, .tire-suas-duvidas .form-area .campo select {
        display: block;
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        border: 2px solid #FFF;
        border-radius: 10px;
        outline: none;
        padding: 0 20px;
        font-size: 24px;
        font-family: 'Ubuntu', sans-serif;
        color: #444;
        box-shadow: none; }
        .tire-suas-duvidas .form-area .campo input.is-incorrect, .tire-suas-duvidas .form-area .campo textarea.is-incorrect, .tire-suas-duvidas .form-area .campo select.is-incorrect {
          border-color: red; }
      .tire-suas-duvidas .form-area .campo textarea {
        height: 240px;
        padding-top: 15px;
        resize: none; }
      .tire-suas-duvidas .form-area .campo .label {
        float: left;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        color: #fff;
        font-size: 18px; }
      .tire-suas-duvidas .form-area .campo button[type=submit] {
        display: inline-block;
        float: right;
        height: 60px;
        width: 190px;
        background: transparent;
        border: 0;
        border-radius: 10px;
        font-size: 24px;
        color: #FFF;
        font-weight: 600;
        border: 2px solid #FFF;
        box-sizing: border-box; }
        .tire-suas-duvidas .form-area .campo button[type=submit]:hover {
          background: #FFF;
          color: #61BFB6; }

@media screen and (max-width: 768px) {
  .cover-page.servicos {
    height: 120px;
    line-height: 120px;
    font-size: 36px; }

  .page.servicos .servico-item .description {
    font-size: 14px; }

  .page.servicos .servico-item .description h2 {
    font-size: 22px;
    line-height: 42px; }

  .tire-suas-duvidas {
    height: auto;
    overflow: hidden; }
    .tire-suas-duvidas .form-area {
      margin: 20px auto; }
    .tire-suas-duvidas h2 {
      font-size: 26px; } }
@media screen and (max-width: 480px) {
  .tire-suas-duvidas .form-area {
    margin: 10px auto;
    padding-bottom: 0; }

  .tire-suas-duvidas .form-area .campo input, .tire-suas-duvidas .form-area .campo textarea, .tire-suas-duvidas .form-area .campo select {
    height: 50px;
    font-size: 16px;
    border-radius: 5px;
    padding: 0 10px; }

  .tire-suas-duvidas .form-area .campo textarea {
    height: 130px;
    padding: 10px 10px 0 10px; }

  .tire-suas-duvidas .form-area .title {
    font-size: 22px;
    line-height: 24px;
    text-align: center; }

  .tire-suas-duvidas .form-area .campo.check-group .check {
    height: 26px;
    margin: 5px 0; }

  .tire-suas-duvidas .form-area .campo.check-group label span {
    height: 26px;
    line-height: 26px; }

  .tire-suas-duvidas .form-area .campo.check-group input[type=checkbox] + label:before {
    height: 26px;
    width: 26px;
    border-radius: 5px;
    line-height: 26px;
    font-size: 18px; }

  .tire-suas-duvidas .form-area .campo .label {
    font-size: 16px;
    height: 50px;
    line-height: 50px; }

  .tire-suas-duvidas .form-area .campo.check-group label {
    font-size: 16px; }

  .tire-suas-duvidas .form-area .campo button[type=submit] {
    width: 100%;
    float: none; } }
.gvalert-modal {
  position: fixed;
  opacity: 0;
  top: -80px;
  left: 50%;
  z-index: 99999999999999;
  width: 960px;
  margin-left: -480px;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 3px;
  border: 1px solid red;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden; }
  .gvalert-modal.gv-erro {
    border-color: #e74c3c;
    color: #FFF;
    background-color: rgba(231, 76, 60, 0.8); }
  .gvalert-modal.gv-sucesso {
    border-color: #2ecc71;
    color: #FFF;
    background-color: rgba(46, 204, 113, 0.8); }
  .gvalert-modal.gv-aviso {
    border-color: #2980b9;
    color: #FFF;
    background-color: rgba(41, 128, 185, 0.8); }
  .gvalert-modal .gv-msg {
    width: 100%;
    box-sizing: border-box;
    padding-right: 50px;
    font: 14px/18px sans-serif; }
  .gvalert-modal .gv-btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    overflow: hidden;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAAGzs1ytAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARlJREFUeNpi/P//PwMMsIAIRkZGsAgTAxIACCBGZGUgYADE/2GCG0ACIA5AAIGEGKCiBlD6ALrEfygGK8AwGAYAAgirBBPUgRugtAFYFM1csNlwV8AE4a6Aq4DQF7BaBBBAOJ2FFSB5bgGKI5DsB1mFEhLoDkQPGYzwxKIQRQO6yQdQTIIYcAHGBwggkjzIxEACgCsGxo8AEF9ACVdGxgPweEMLOphnPkD5H5CjDj00PuAIiQ8YinFo+IAsT5IHyXMGqR4UAOIHaH64gByjJMUgQICRlp7JiW2qA2S/I4XJBeSARA4PpFT+Aa8aLAZvwBWNQJyAJ5of4DUYh4vwYQzX4jQYyYIEAoYm4NRLNxfTLIyplSqGXgYBAPCrJ8KI0tEUAAAAAElFTkSuQmCC") no-repeat 50% 50% transparent;
    opacity: .3; }
    .gvalert-modal .gv-btn-close:hover {
      opacity: .6; }

@media screen and (max-width: 960px) {
  .gvalert-modal {
    width: calc( 100% - 20px );
    left: 0;
    margin-left: 0;
    margin: 0 10px;
    box-sizing: border-box; } }

/*# sourceMappingURL=main.css.map */
