body {
  background: #FFF;
  font-family: 'Open Sans', sans-serif; }

.fix-header {
  height: 100px; }

.main-header {
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: #61bfb6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999; }
  .main-header .logo {
    float: left; }
    .main-header .logo a {
      display: block;
      background-image: url("../img/logo-desktop.png");
      width: 472px;
      height: 80px;
      overflow: hidden;
      text-indent: -999px; }
  .main-header .main-nav {
    float: right;
    height: 80px;
    width: 510px;
    font-family: 'Ubuntu', sans-serif; }
    .main-header .main-nav ul li {
      float: left;
      margin: 0 38px; }
      .main-header .main-nav ul li:first-child {
        margin-left: 0; }
      .main-header .main-nav ul li:last-child {
        margin-right: 0; }
      .main-header .main-nav ul li a {
        display: inline-block;
        margin-top: 37px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: #245a55;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        transition: .1s all linear;
        -webkit-transition: .1s all linear;
        -moz-transition: .1s all linear;
        -ms-transition: .1s all linear;
        -o-transition: .1s all linear; }
        .main-header .main-nav ul li a:after, .main-header .main-nav ul li a:before {
          content: " ";
          display: block;
          height: 3px;
          width: 100%;
          background: #FFF;
          position: absolute;
          opacity: 0;
          transition: .1s all linear;
          -webkit-transition: .1s all linear;
          -moz-transition: .1s all linear;
          -ms-transition: .1s all linear;
          -o-transition: .1s all linear; }
        .main-header .main-nav ul li a:after {
          bottom: 10px; }
        .main-header .main-nav ul li a:before {
          top: 10px; }
        .main-header .main-nav ul li a:hover, .main-header .main-nav ul li a.is-active {
          color: #FFF; }
          .main-header .main-nav ul li a:hover:after, .main-header .main-nav ul li a.is-active:after {
            bottom: 0;
            opacity: 1; }
          .main-header .main-nav ul li a:hover:before, .main-header .main-nav ul li a.is-active:before {
            top: 0;
            opacity: 1; }
  .main-header .btn-menu {
    display: none;
    padding: 0;
    margin: 0;
    float: right;
    border: 1px solid #FFF;
    box-sizing: border-box;
    height: 52px;
    width: 52px;
    overflow: hidden;
    outline: none;
    border-radius: 3px;
    font-size: 36px;
    color: #FFF;
    line-height: 50px;
    text-align: center;
    background: #61bfb6;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }

.darkshadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #245a55;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: .2s all linear; }

.fixed-menu {
  position: fixed;
  box-sizing: border-box;
  width: 250px;
  padding-top: 90px;
  height: 100%;
  background-color: #FFF;
  right: -250px;
  bottom: 0;
  z-index: 99999; }
  .fixed-menu .content {
    width: 250px;
    padding: 0 10px;
    height: 100%;
    box-sizing: border-box; }
    .fixed-menu .content li {
      display: block;
      height: 60px;
      border-bottom: 1px solid #e5e5e5; }
      .fixed-menu .content li a {
        display: block;
        height: 60px;
        width: 230px;
        padding: 10px 0;
        text-decoration: none;
        color: #61bfb6;
        box-sizing: border-box; }
        .fixed-menu .content li a .icon {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url(../img/menu-sprite.png);
          background-size: 160px 80px;
          float: left;
          margin-right: 10px; }
        .fixed-menu .content li a .label {
          line-height: 40px;
          font-size: 18px;
          text-tranform: uppercase;
          font-weight: 500;
          font-family: 'Ubuntu', sans-serif; }
        .fixed-menu .content li a.home .icon {
          background-position: 0 0; }
        .fixed-menu .content li a.sobre .icon {
          background-position: -40px 0; }
        .fixed-menu .content li a.servicos .icon {
          background-position: -80px 0; }
        .fixed-menu .content li a.contato .icon {
          background-position: -120px 0; }
        .fixed-menu .content li a.home.is-active .icon, .fixed-menu .content li a.home:focus .icon {
          background-position: 0 -40px; }
        .fixed-menu .content li a.sobre.is-active .icon, .fixed-menu .content li a.sobre:focus .icon {
          background-position: -40px -40px; }
        .fixed-menu .content li a.servicos.is-active .icon, .fixed-menu .content li a.servicos:focus .icon {
          background-position: -80px -40px; }
        .fixed-menu .content li a.contato.is-active .icon, .fixed-menu .content li a.contato:focus .icon {
          background-position: -120px -40px; }
    .fixed-menu .content .btn-fb {
      margin: 0;
      margin-top: 30px;
      border: 1px solid #4365a1;
      padding: 3px;
      color: #4365a1;
      text-decoration: none;
      width: 230px;
      height: 42px;
      box-sizing: border-box;
      display: block;
      border-radius: 3px;
      font-family: 'Ubuntu', sans-serif; }
      .fixed-menu .content .btn-fb .fa {
        display: inline-block;
        width: 38px;
        line-height: 34px;
        font-size: 24px;
        text-align: center;
        border-right: 1px solid #e6e6e6;
        float: left; }
      .fixed-menu .content .btn-fb .label {
        float: left;
        display: inline-block;
        line-height: 34px;
        padding-left: 10px;
        font-weight: 500;
        font-size: 18px; }
  .fixed-menu.is-active {
    right: 0; }

.main-content {
  overflow: hidden;
  margin-top: 40px; }

.main-footer {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  margin-top: 15px;
  border-top: 2px solid #fafafa; }
  .main-footer .copyright .icon {
    display: block;
    float: left;
    background: url(../img/footer-icon.jpg);
    width: 39px;
    height: 32px; }
  .main-footer .copyright .label {
    float: left;
    display: block;
    font-size: 14px;
    font-weight: 100;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    color: #cecece; }
    .main-footer .copyright .label .green-mark {
      color: #61bfb6; }
  .main-footer .menu-footer {
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    text-align: right;
    color: #fafafa;
    font-size: 14px; }
    .main-footer .menu-footer a {
      color: #61bfb6;
      text-decoration: none; }

@media screen and (max-width: 1200px) {
  .main-header .main-nav {
    width: 380px; }

  .main-header .main-nav ul li {
    margin: 0 15px; } }
@media screen and (max-width: 1024px) {
  .main-header .main-nav {
    width: 380px; }

  .main-header .main-nav ul li {
    margin: 0 15px; } }
@media screen and (min-width: 960px) {
  .fixed-menu {
    display: none; } }
@media screen and (max-width: 960px) {
  .main-header {
    height: 90px;
    padding: 20px 0; }

  .fix-header {
    height: 90px; }

  .main-header .logo a {
    background-image: url(../img/logo-tablet.png);
    width: 307px;
    height: 52px; }

  .main-header .btn-menu {
    display: block; }

  .main-header .main-nav {
    display: none; }

  .main-footer .copyright .label, .main-footer .menu-footer {
    float: none;
    text-align: center;
    font-size: 13px; }

  .main-footer .copyright .icon {
    display: none; } }
@media screen and (max-width: 720px) {
  .main-footer .copyright {
    text-align: center; }

  .main-footer .copyright .icon {
    display: block;
    float: none;
    margin: 0 auto; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 980px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 980px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 980px), only screen and (min-device-pixel-ratio: 2) and (max-width: 980px), only screen and (min-resolution: 192dpi) and (max-width: 980px), only screen and (min-resolution: 2dppx) and (max-width: 980px) {
  .main-header .logo a {
    background-image: url(../img/logo-tablet@x2.png);
    background-size: 307px 52px; } }
@media screen and (max-width: 568px) {
  .main-header {
    height: 60px;
    padding: 10px 0; }
    .main-header .container-12 {
      width: 290px; }

  .fix-header {
    height: 60px; }

  .main-header .logo a {
    background-image: url(../img/logo-mobile.png);
    background-size: 236px 40px;
    width: 236px;
    height: 40px; }

  .main-header .btn-menu {
    display: block; }

  .main-header .btn-menu {
    height: 40px;
    width: 40px;
    line-height: 38px;
    font-size: 26px; }

  .fixed-menu {
    padding-top: 60px; }

  .main-footer .copyright .icon {
    width: 19px;
    height: 16px;
    background-size: 19px 16px; }

  .main-footer .copyright .label {
    font-size: 11px; }

  .main-footer .menu-footer {
    display: none; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 568px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 568px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width: 568px), only screen and (min-device-pixel-ratio: 2) and (max-width: 568px), only screen and (min-resolution: 192dpi) and (max-width: 568px), only screen and (min-resolution: 2dppx) and (max-width: 568px) {
  .main-header .logo a {
    background-image: url(../img/logo-mobile@x2.png);
    background-size: 236px 40px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .fixed-menu .content li a .icon {
    background-image: url(../img/menu-sprite@x2.png); } }
.main-slider {
  width: 100%;
  overflow: hidden;
  height: 400px; }
  .main-slider .item {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-position: top center;
    background-size: cover; }
    .main-slider .item .description {
      height: 400px;
      width: 480px;
      margin-left: 150px;
      color: #FFF;
      display: table-cell;
      vertical-align: middle;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      padding-left: 150px; }
      .main-slider .item .description.green {
        color: #61bfb6; }
      .main-slider .item .description h2 {
        font-family: 'Ubuntu', sans-serif;
        font-size: 60px;
        font-weight: 400;
        font-style: italic; }
      .main-slider .item .description p {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        line-height: 22px;
        font-weight: 100; }
  .main-slider .owl-pagination {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    height: 0;
    text-align: center;
    position: relative; }
    .main-slider .owl-pagination .owl-page {
      display: inline-block;
      position: relative;
      top: -30px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border-radius: 100%;
      border: 1px solid #FFF;
      margin: 0 7px;
      opacity: .5; }
      .main-slider .owl-pagination .owl-page.active {
        background: #FFF; }
  .main-slider .owl-buttons {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    height: 0;
    position: relative; }
    .main-slider .owl-buttons div {
      width: 62px;
      height: 62px;
      border-radius: 100%;
      background: transparent;
      display: block;
      position: absolute;
      top: -200px;
      margin-top: -31px;
      box-sizing: border-box;
      border: 2px solid #FFF;
      overflow: hidden;
      text-align: center;
      color: #FFF;
      line-height: 60px;
      font-size: 48px;
      transition: .1s all linear; }
      .main-slider .owl-buttons div.owl-next {
        right: 10px; }
        .main-slider .owl-buttons div.owl-next:after {
          font-family: 'FontAwesome';
          content: "\f105";
          margin-left: 5px; }
      .main-slider .owl-buttons div.owl-prev {
        left: 10px; }
        .main-slider .owl-buttons div.owl-prev:after {
          font-family: 'FontAwesome';
          content: "\f104";
          margin-left: -5px; }
      .main-slider .owl-buttons div:hover {
        background-color: #61bfb6;
        border-color: #61bfb6; }

.main-content.home .card {
  overflow: hidden;
  position: relative;
  background-color: #444;
  margin-bottom: 20px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
  border: 0;
  outline: none; }
  .main-content.home .card.card-1 {
    height: 300px; }
  .main-content.home .card.card-2 {
    height: 520px; }
  .main-content.home .card.card-3 {
    height: 200px;
    margin-top: -220px; }
  .main-content.home .card .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: .2s all linear;
    will-change: transform; }
  .main-content.home .card .description {
    position: absolute;
    background: #61bfb6;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px; }
    .main-content.home .card .description .text {
      color: #FFF;
      width: 100%;
      overflow: hidden; }
      .main-content.home .card .description .text h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
        font-size: 36px;
        margin-bottom: 10px; }
      .main-content.home .card .description .text p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-style: italic;
        font-size: 18px;
        line-height: 22px; }
    .main-content.home .card .description .saiba-mais {
      width: 100%;
      height: 46px;
      overflow: hidden;
      position: absolute;
      bottom: 20px;
      right: 20px; }
      .main-content.home .card .description .saiba-mais .btn {
        display: inline-block;
        height: 46px;
        width: 167px;
        border-radius: 5px;
        float: right;
        box-sizing: border-box;
        background-color: transparent;
        border: 1px solid #FFF;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        line-height: 44px;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 100;
        transition: .1s all linear; }
        .main-content.home .card .description .saiba-mais .btn:hover {
          background-color: #FFF;
          color: #61bfb6; }
  .main-content.home .card:hover .image {
    transform: scale(1.1);
    opacity: .8;
    transition: .2s all linear; }
  .main-content.home .card.card-1 .description {
    width: 360px;
    right: 0;
    top: 0; }
    .main-content.home .card.card-1 .description:after {
      content: "";
      position: absolute;
      left: -11px;
      top: 50%;
      margin-top: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 11px 11px 0;
      border-color: transparent #61bfb6 transparent transparent;
      line-height: 0px;
      _border-color: #000000 #61bfb6 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .main-content.home .card.card-1 .image {
    background-position: top left; }
  .main-content.home .card.card-2 .description {
    height: 220px;
    left: 0;
    bottom: 0; }
    .main-content.home .card.card-2 .description:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 11px 11px 11px;
      border-color: transparent transparent #61bfb6 transparent;
      line-height: 0px;
      _border-color: #000000 #000000 #61bfb6 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .main-content.home .card.card-2 .image {
    background-position: top center;
    background-size: 100%; }
  .main-content.home .card.card-3 .description {
    width: 300px;
    right: 0;
    top: 0; }
    .main-content.home .card.card-3 .description:after {
      content: "";
      position: absolute;
      left: -11px;
      top: 50%;
      margin-top: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 11px 11px 11px 0;
      border-color: transparent #61bfb6 transparent transparent;
      line-height: 0px;
      _border-color: #000000 #61bfb6 #000000 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .main-content.home .card.card-3 .image {
    background-position: top left; }

@media screen and (max-width: 1200px) {
  .main-content.home .card .description .text h2 {
    font-size: 25px;
    margin-bottom: 5px; }
  .main-content.home .card .description .text p {
    font-size: 16px;
    line-height: 21px; }

  .main-content.home .card.card-1 {
    height: 256px; }
    .main-content.home .card.card-1 .description {
      width: 300px; }

  .main-content.home .card.card-2 {
    height: 476px; } }
@media screen and (max-width: 980px) {
  .main-slider {
    height: 265px; }
    .main-slider .item {
      height: 265px; }
      .main-slider .item .description {
        height: 265px;
        padding-left: 0; }
    .main-slider .owl-buttons {
      display: none; } }
@media screen and (min-width: 720px) and (max-width: 960px) {
  .main-content.home .container-12 .grid-7:first-child {
    width: 700px;
    overflow: hidden; }

  .main-content.home .card.card-3 {
    height: 360px;
    margin-top: 0; }

  .main-content.home .card.card-2 {
    height: 360px; }

  .main-content.home .container-12 .grid-7:last-child, .main-content.home .container-12 .grid-5 {
    width: 340px;
    overflow: hidden; }

  .main-content.home .card.card-2 .description, .main-content.home .card.card-3 .description {
    width: 100%;
    height: 188px;
    right: auto;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 10px; }
    .main-content.home .card.card-2 .description:after, .main-content.home .card.card-3 .description:after {
      content: "";
      position: absolute;
      left: 50%;
      top: -11px;
      margin-left: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 11px 11px 11px;
      border-color: transparent transparent #61bfb6 transparent;
      line-height: 0px;
      _border-color: #000000 #000000 #61bfb6 #000000;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
    .main-content.home .card.card-2 .description .saiba-mais, .main-content.home .card.card-3 .description .saiba-mais {
      bottom: 15px;
      right: 15px; }

  .main-content.home .card.card-1 {
    height: 235px; }
    .main-content.home .card.card-1 .description {
      width: 365px; }
    .main-content.home .card.card-1 .image {
      background-size: 376px; }

  .main-content.home .card .description .text h2 {
    font-size: 30px; }

  .main-content.home .card .description .text p {
    font-size: 18px;
    line-height: 22px; } }
@media screen and (max-width: 720px) {
  .main-slider {
    height: 200px; }
    .main-slider .item {
      height: 200px; }
      .main-slider .item .description {
        height: 200px;
        width: 380px; }
        .main-slider .item .description h2 {
          font-size: 36px;
          font-style: normal; }
        .main-slider .item .description p {
          font-size: 14px;
          line-height: 16px; }

  .main-content.home .card.card-1, .main-content.home .card.card-2, .main-content.home .card.card-3 {
    margin: 0 auto 20px auto;
    height: 280px;
    width: 380px; }
    .main-content.home .card.card-1 .image, .main-content.home .card.card-2 .image, .main-content.home .card.card-3 .image {
      width: 100%; }
    .main-content.home .card.card-1 .description, .main-content.home .card.card-2 .description, .main-content.home .card.card-3 .description {
      width: 100%;
      height: 90px;
      padding: 10px;
      top: auto;
      right: auto;
      left: 0;
      bottom: 0; }
      .main-content.home .card.card-1 .description h2, .main-content.home .card.card-2 .description h2, .main-content.home .card.card-3 .description h2 {
        font-size: 18px; }
      .main-content.home .card.card-1 .description p, .main-content.home .card.card-2 .description p, .main-content.home .card.card-3 .description p {
        font-size: 14px;
        line-height: 16px; }
      .main-content.home .card.card-1 .description:after, .main-content.home .card.card-2 .description:after, .main-content.home .card.card-3 .description:after {
        content: "";
        position: absolute;
        left: 50%;
        top: -11px;
        margin-top: 0;
        margin-left: -11px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        border-color: transparent transparent #61bfb6 transparent;
        line-height: 0px;
        _border-color: #000000 #000000 #61bfb6 #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
      .main-content.home .card.card-1 .description .saiba-mais, .main-content.home .card.card-2 .description .saiba-mais, .main-content.home .card.card-3 .description .saiba-mais {
        display: none; } }
@media screen and (max-width: 560px) {
  .main-slider .item .description {
    width: 300px;
    padding: 10px; }
    .main-slider .item .description .saiba-mais {
      display: none; } }
@media screen and (max-width: 480px) {
  .main-slider {
    height: 136px; }
    .main-slider .item {
      height: 136px; }
      .main-slider .item .description {
        height: 110px;
        width: 210px; }
        .main-slider .item .description h2 {
          font-size: 18px;
          font-style: normal; }
        .main-slider .item .description p {
          font-size: 13px;
          line-height: 16px; }
    .main-slider .owl-pagination .owl-page {
      width: 10px;
      height: 10px;
      top: -20px;
      margin: 0 3px; } }
@media screen and (max-width: 440px) {
  .main-content.home .card.card-1, .main-content.home .card.card-2, .main-content.home .card.card-3 {
    width: 100%;
    height: 220px; }
    .main-content.home .card.card-1 .image, .main-content.home .card.card-2 .image, .main-content.home .card.card-3 .image {
      background-size: 100%;
      background-position: top center; }
    .main-content.home .card.card-1:hover .image, .main-content.home .card.card-2:hover .image, .main-content.home .card.card-3:hover .image {
      transform: scale(1);
      opacity: 1; }
    .main-content.home .card.card-1 .description, .main-content.home .card.card-2 .description, .main-content.home .card.card-3 .description {
      height: 90px; }

  .main-content.home .card.card-1 {
    height: 250px; }
    .main-content.home .card.card-1 .description {
      height: 115px; } }
.localizacao {
  height: 500px;
  width: 100%;
  position: relative;
  background-color: #67938d; }
  .localizacao:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -17.5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17.5px 17px 17.5px;
    border-color: transparent transparent #FFF transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #FFF #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000'); }
  .localizacao .map {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0; }
    .localizacao .map iframe {
      width: 100%;
      height: 500px; }
  .localizacao .info {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(70, 126, 121, 0.8); }
    .localizacao .info .address-wrap {
      width: 300px;
      height: 394px;
      margin: 43px auto;
      overflow: hidden;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      padding: 10px 0; }
      .localizacao .info .address-wrap .icon {
        width: 152px;
        height: 152px;
        border: 1px solid #FFF;
        box-sizing: border-box;
        border-radius: 100%;
        margin: 0 auto;
        line-height: 150px;
        text-align: center;
        color: #FFF;
        font-size: 102px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 11px; }
      .localizacao .info .address-wrap .title {
        font-size: 36px;
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-weight: 600;
        color: #FFF;
        margin-bottom: 24px; }
      .localizacao .info .address-wrap .address {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        color: #FFF;
        font-weight: 100;
        margin-bottom: 35px; }
      .localizacao .info .address-wrap .btn {
        display: block;
        margin: 0 auto;
        height: 52px;
        width: 160px;
        border-radius: 100px;
        box-sizing: border-box;
        border: 2px solid #FFF;
        background: transparent;
        appearance: none;
        color: #FFF;
        font-size: 24px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        font-family: 'Ubuntu', sans-serif;
        outline: none;
        transition: .2s all linear; }
        .localizacao .info .address-wrap .btn:hover {
          background-color: #FFF;
          color: #61bfb6;
          text-shadow: 0 2px 2px transparent; }

/*# sourceMappingURL=main.css.map */
